@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0D0D2B;
}

header {
  width: 1440px;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
header .rs1 {
  position: absolute;
  z-index: -9;
  top: 400px;
  left: 400px;
}
header .rs2 {
  position: absolute;
  z-index: -5;
  top: 550px;
  right: 0px;
}
header nav {
  width: 1202px;
  height: 52px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  width: 339px;
  height: 28px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
header nav ul a {
  color: #fff;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.16px;
  text-decoration: none;
}
header nav .btn {
  width: 221px;
  height: 52px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .btn a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 24px */
}
header nav .btn button {
  display: inline-flex;
  padding: 14px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #3671E9;
  color: #fff;
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: none;
}
header .dt {
  width: 1202px;
  height: 585px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .dt .info {
  width: 588px;
  height: 468px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
header .dt .info h1 {
  width: 588px;
  color: #fff;
  font-family: "Rubik";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .dt .info p {
  width: 435px;
  color: #E0E0E0;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 175% */
  letter-spacing: 0.16px;
}
header .dt .info .dt1 {
  width: 365px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .dt .info .dt1 span {
  display: inline-flex;
  padding: 4px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 32px;
  background: #fff;
  color: #0D0D2B;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}
header .dt .info button {
  display: inline-flex;
  padding: 16px 16px 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  background: #3671E9;
  color: #fff;
  text-align: center;
  font-family: " Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border: none;
}

section {
  width: 1440px;
  flex-shrink: 0;
  background: #0D0D2B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
section .numbers {
  width: 1200px;
  height: 92px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .numbers .dt2 {
  width: 334px;
  height: 92px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .numbers .dt2 .info1 {
  width: 230px;
  height: 92px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section .numbers .dt2 .info1 p {
  color: #fff;
  font-family: "Rubik";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
section .numbers .dt2 .info1 span {
  width: 230px;
  color: #E0E0E0;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.16px;
}
section .content {
  width: 1200px;
  height: 473px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .content .info3 {
  width: 480px;
  height: 318.889px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
section .content .info3 h1 {
  width: 480px;
  height: 119.949px;
  flex-shrink: 0;
  color: #fff;
  font-family: "Rubik";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
section .content .info3 span {
  width: 408px;
  height: 83.964px;
  flex-shrink: 0;
  color: #E0E0E0;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.16px;
}
section .content .info3 button {
  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  background: #3671E9;
  color: #fff;
  text-align: center;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: none;
}
section .bg {
  width: 1440px;
  height: 457px;
  flex-shrink: 0;
  background: #0D0D2B;
  position: relative;
}
section .bg .info4 {
  width: 741px;
  height: 138px;
  flex-shrink: 0;
  margin-top: 100px;
  margin-left: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
section .bg .info4 h1 {
  width: 741px;
  color: var(--neutral-white, #FFF);
  text-align: center;
  font-family: "Rubik";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
section .bg .info4 p {
  width: 622px;
  color: var(--neutral-grey-5, #E0E0E0);
  text-align: center;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
section .bg .calc {
  width: 942px;
  height: 371px;
  flex-shrink: 0;
  filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, 0.05));
  border-radius: 16px 16px 0px 0px;
  background: #FBFCFE;
  position: absolute;
  top: 302px;
  left: 249px;
}
section .bg .calc .calc-1 {
  width: 942px;
  height: 155px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section .bg .calc .calc-1 p {
  width: 403px;
  height: 38px;
  flex-shrink: 0;
  color: var(--color-primary, #0D0D2B);
  font-family: "Rubik";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
section .bg .calc .calc-1 span {
  width: 200px;
  height: 38px;
  flex-shrink: 0;
  color: var(--color-primary, #0D0D2B);
  font-family: "Rubik";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
section .bg .calc .calc-1 button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  background: var(--color-accent, #3671E9);
  color: var(--neutral-white, #FFF);
  text-align: center;
  font-family: " Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: none;
}
section .bg .calc .calc-2 {
  width: 942px;
  height: 216px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
section .bg .calc .calc-2 p {
  color: var(--color-accent, #3671E9);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  margin-top: 48px;
  margin-left: 48px;
}
section .bg .calc .calc-2 h1 {
  color: var(--color-primary, #0D0D2B);
  font-family: " Rubik";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.28px;
  margin-top: 16px;
  margin-left: 48px;
  position: relative;
}
section .bg .calc .calc-2 h1 span {
  color: var(--color-accent, #3671E9);
  font-family: "Rubik";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.28px;
  position: absolute;
  left: 220px;
  bottom: 2px;
}
section .bg .calc .calc-2 span {
  color: var(--neutral-grey-3, #828282);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.16px;
  margin-top: 4px;
  margin-left: 48px;
}
section .crypto {
  width: 1440px;
  height: 1033px;
  background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
  padding-top: 316px;
  padding-left: 120px;
  padding-bottom: 100px;
}
section .crypto .currencies {
  width: 1200px;
  height: 617px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
section .crypto .currencies h1 {
  width: 741px;
  color: var(--color-primary, #0D0D2B);
  text-align: center;
  font-family: "Rubik";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
section .crypto .currencies .base {
  width: 1200px;
  height: 433px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .crypto .currencies .base .btc {
  width: 370px;
  height: 433px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--color-secondary, #2B076E);
  -webkit-backdrop-filter: blur(125px);
          backdrop-filter: blur(125px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
section .crypto .currencies .base .btc img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
section .crypto .currencies .base .btc .bitcoin {
  width: 160px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
section .crypto .currencies .base .btc .bitcoin p {
  color: var(--neutral-white, #FFF);
  text-align: center;
  font-family: "Rubik";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
section .crypto .currencies .base .btc .bitcoin span {
  color: rgba(255, 255, 255, 0.6235294118);
  text-align: center;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
section .crypto .currencies .base .btc p {
  width: 322px;
  color: rgba(255, 255, 255, 0.6235294118);
  text-align: center;
  font-family: " Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.16px;
}
section .crypto .currencies .base .btc button {
  display: inline-flex;
  padding: 16px 16px 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  background: var(--color-accent, #3671E9);
  border: none;
  color: var(--neutral-white, #FFF);
  text-align: center;
  font-family: " Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
section .crypto .currencies .base .btc button img {
  width: 32px;
  height: 32px;
}
section .crypto .currencies .base .eth {
  width: 370px;
  height: 433px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--neutral-white, #FFF);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
section .crypto .currencies .base .eth img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
section .crypto .currencies .base .eth .ethereum {
  width: 204px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
section .crypto .currencies .base .eth .ethereum h1 {
  color: var(--color-primary, #0D0D2B);
  text-align: center;
  font-family: "Rubik";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
section .crypto .currencies .base .eth .ethereum p {
  color: var(--neutral-grey-4, #BDBDBD);
  text-align: center;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
}
section .crypto .currencies .base .eth p {
  width: 322px;
  color: #828282;
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.16px;
}
section .crypto .currencies .base .eth img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border: 1px solid rgba(54, 114, 233, 0.6705882353);
  border-radius: 50%;
}
section .crypto .currencies .base .ltc {
  width: 370px;
  height: 433px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 16px;
  background: var(--neutral-white, #FFF);
}
section .crypto .currencies .base .ltc img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
section .crypto .currencies .base .ltc .litecoin {
  width: 172px;
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
section .crypto .currencies .base .ltc .litecoin h1 {
  color: var(--color-primary, #0D0D2B);
  text-align: center;
  font-family: "Rubik";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
section .crypto .currencies .base .ltc .litecoin p {
  color: var(--neutral-grey-4, #BDBDBD);
  text-align: center;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
section .crypto .currencies .base .ltc p {
  width: 322px;
  color: var(--neutral-grey-3, #828282);
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.16px;
}
section .crypto .currencies .base .ltc img {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border: 1px solid rgba(54, 114, 233, 0.6705882353);
  border-radius: 50%;
}
section .features {
  width: 1440px;
  height: 1874px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: #2B076E;
  position: relative;
}
section .features .circle {
  position: absolute;
  left: 151px;
}
section .features .title {
  width: 758px;
  color: #FFF;
  text-align: center;
  font-family: "Rubik";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-top: 100px;
}
section .features .invest {
  width: 1134px;
  height: 427px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .features .invest .info {
  width: 454px;
  height: 219px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
section .features .invest .info h1 {
  width: 454px;
  color: #FFF;
  font-family: "Rubik";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
section .features .invest .info p {
  width: 408px;
  color: #E0E0E0;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.16px;
}
section .features .invest .info button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  background: #3671E9;
  color: #FFF;
  text-align: center;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: none;
}
section .features .invest .chart {
  width: 580px;
  height: 427px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
section .features .invest .chart .frame {
  width: 580px;
  height: 298px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #35068C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .features .invest .chart .frame .info {
  width: 500px;
  height: 50px;
  position: relative;
}
section .features .invest .chart .frame .info .btc {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
}
section .features .invest .chart .frame .info h1 {
  color: #FFF;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  left: 56px;
  top: 0;
}
section .features .invest .chart .frame .info h4 {
  position: absolute;
  left: 146px;
  top: 5px;
  color: rgba(207, 207, 207, 0.5490196078);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
section .features .invest .chart .frame .info p {
  position: absolute;
  right: 0;
  top: 12px;
  color: #42FFFF;
  text-align: right;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}
section .features .invest .chart .frame .info span {
  color: rgba(242, 242, 242, 0.631372549);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
  position: absolute;
  left: 56px;
  bottom: 0;
}
section .features .invest .chart .frame2 {
  width: 178px;
  height: auto;
  flex-shrink: 0;
  border-radius: 16px;
  background: #491F98;
  -webkit-backdrop-filter: blur(125px);
          backdrop-filter: blur(125px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
  position: absolute;
  left: 64px;
  top: 243px;
}
section .features .invest .chart .frame2 h2 {
  width: 146px;
  color: #FFF;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.2px;
}
section .features .invest .chart .frame2 .link {
  width: 98px;
  height: 29px;
  flex-shrink: 0;
  display: flex;
  gap: 7px;
}
section .features .invest .chart .frame2 .link h1 {
  color: #FFF;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}
section .features .invest .chart .frame2 p {
  color: rgba(242, 242, 242, 0.4784313725);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}
section .features .invest .chart .frame3 {
  width: 169px;
  height: auto;
  border-radius: 16px;
  background: #491F98;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  position: absolute;
  right: 56px;
  bottom: 88px;
  gap: 4px;
}
section .features .invest .chart .frame3 h1 {
  color: #FFF;
  text-align: center;
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}
section .features .invest .chart .frame3 p {
  color: rgba(242, 242, 242, 0.4784313725);
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}
section .features .statistics {
  width: 1255px;
  height: 453px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 867px;
}
section .features .statistics .statistics-info {
  width: 456px;
  height: 247px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
section .features .statistics .statistics-info h1 {
  width: 454px;
  color: #FFF;
  font-family: "Rubik";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
section .features .statistics .statistics-info p {
  width: 408px;
  color: #E0E0E0;
  font-family: " Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.16px;
}
section .features .statistics .statistics-info button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  background: #3671E9;
  color: #FFF;
  text-align: center;
  font-family: " Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: none;
}
section .features .grow {
  width: 1200px;
  height: 334px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 100px;
  left: 120px;
  z-index: 8;
}
section .features .grow .grow-info {
  width: 454px;
  height: 295.003px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
section .features .grow .grow-info h1 {
  width: 454px;
  color: #FFF;
  font-family: " Rubik";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
section .features .grow .grow-info p {
  width: 408px;
  color: #E0E0E0;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.16px;
}
section .features .grow .grow-info button {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  background: #3671E9;
  color: #FFF;
  text-align: center;
  font-family: " Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: none;
}
section .start-mining {
  width: 1440px;
  height: 392px;
  background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section .start-mining .start-item {
  width: 1200px;
  height: 216px;
  border-radius: 16px;
  background: #3671E9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section .start-mining .start-item .start-rs1 {
  position: absolute;
  top: 0;
  left: 22px;
}
section .start-mining .start-item .start-rs2 {
  position: absolute;
  bottom: 0;
  right: 15px;
}
section .start-mining .start-item .start-frame {
  width: 1104px;
  height: 120px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
section .start-mining .start-item .start-frame .start-info {
  width: 501px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
section .start-mining .start-item .start-frame .start-info h1 {
  color: #FFF;
  font-family: "Rubik";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
section .start-mining .start-item .start-frame .start-info p {
  width: 348px;
  color: #FFF;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.16px;
}
section .start-mining .start-item .start-frame .start-frame2 {
  width: 566px;
  height: 55px;
  display: flex;
  align-items: center;
  gap: 40px;
}
section .start-mining .start-item .start-frame .start-frame2 input {
  width: 374px;
  height: 35px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
section .start-mining .start-item .start-frame .start-frame2 button {
  display: inline-flex;
  padding: 14px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #FFF;
  color: #0D0D2B;
  text-align: center;
  font-family: " Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: none;
}
section .start-mining .back1 {
  position: absolute;
  bottom: 0;
  left: 35px;
}
section .start-mining .back2 {
  position: absolute;
  left: 495px;
}
section .footer {
  width: 1440px;
  height: 552px;
  background: #0D0D2B;
  padding: 80px 120px;
  display: flex;
  align-items: flex-start;
  position: relative;
}
section .footer .footer-logo {
  margin-right: 171px;
}
section .footer .quick-link {
  width: 200px;
  height: 244px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 35px;
}
section .footer .quick-link h3 {
  color: #FFF;
  font-family: " Rubik";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  width: 200px;
  height: 30px;
}
section .footer .quick-link ul {
  width: 200px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
}
section .footer .quick-link ul a {
  text-decoration: none;
  color: #F2F2F2;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
section .footer .payment {
  width: 355px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-left: 69px;
}
section .footer .payment .cards {
  width: 355px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
section .footer .payment h1 {
  width: 355px;
  color: #FFF;
  font-family: "Rubik";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
section .footer .footer-info {
  width: 391px;
  color: #FFF;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.16px;
  position: absolute;
  bottom: 80px;
  left: 120px;
}
section .footer .footer-links {
  width: 248px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 32px;
  position: absolute;
  bottom: 80px;
  right: 120px;
}/*# sourceMappingURL=main.css.map */